<footer class="relative grid gap-12 p-16 bg-spacegray-100/50">
  <div class="grid w-full max-w-4xl gap-2 mx-auto">
    <h2 class="text-3xl font-heading text-spacegray-900">
      Thank you.
    </h2>
    <p class="text-lg text-spacegray-300/80">
      The author appreciates your consideration and attention.
    </p>
  </div>
  <nav aria-label="Footer navigation" class="text-spacegray/80">
    <ul aria-label="Footer links" class="flex gap-8 ml-auto mr-0">
      <li>
        <a class="no-underline text-spacegray/40 hover:text-spacegray-900" href="/">Cover letter</a>
      </li>
      <li>
        <a class="no-underline text-spacegray/40 hover:text-spacegray-900" href="/">Resume</a>
      </li>
      <li>
        <a class="no-underline text-spacegray/40 hover:text-spacegray-900" href="/">Github</a>
      </li>
      <li>
        <a class="no-underline text-spacegray/40 hover:text-spacegray-900" href="/">Bookmark icon</a>
      </li>
    </ul>
  </nav>
</footer>