<section id="story" class="relative grid gap-16 px-6 py-24 bg-spacegray-100/50">
  <div class="grid w-full max-w-4xl gap-2 mx-auto">
    <h2 class="text-3xl font-heading text-spacegray-900">
      {{ site.data.story.title }}
    </h2>
    <p class="text-lg text-spacegray-300/80">
      {{ site.data.story.subtitle }}
    </p>
  </div>
  <div class="grid w-full max-w-4xl gap-8 mx-auto">
		{{ site.data.story.body | markdownify }}
  </div>
  <div class="w-full max-w-4xl mx-auto">
    <div class="w-10 h-[3px] bg-spacegray-300"></div>
  </div>
</section>