<footer class="relative grid gap-12 p-16 bg-spacegray-100/50">
  <div class="grid w-full max-w-4xl gap-2 mx-auto">
    <h2 class="text-3xl font-heading text-spacegray-900">
      Thank you.
    </h2>
    <p class="text-lg text-spacegray-300/80">
      The author appreciates your consideration and attention.
    </p>
  </div>
  <nav class="w-full max-w-4xl mx-auto mt-4 text-spacegray/80">
    <ul class="flex gap-8 ml-auto mr-0">
      <li class="text-spacegray/40">
        Cover letter
      </li>
      <li>
        <a class="no-underline hover:text-spacegray-900" href="https://rslnk.github.io/dear-37signals/resume">Resume</a>
      </li>
      <li>
        <a class="no-underline hover:text-spacegray-900" href="https://github.com/rslnk" target="_blank" rel="noopener noreferrer">Github</a>
      </li>
    </ul>
  </nav>
</footer>