<header id="hero" class="relative min-h-[500px] grid gap-16 px-6 py-40 bg-spacegray">
  <nav class="absolute top-0 right-0 p-8 text-white/65">
    <ul class="ml-auto mr-0 flex gap-8">
      <li>
        <a class="no-underline text-white/40" href="/">Cover letter</a>
      </li>
      <li>
        <a class="no-underline hover:text-white" href="/">Resume</a>
      </li>
      <li>
        <a class="no-underline hover:text-white" href="/">Github</a>
      </li>
      <li>
        <a class="no-underline hover:text-white" href="/">Bookmark icon</a>
      </li>
    </ul>
  </nav>
  <div class="grid w-full max-w-4xl gap-2 mx-auto">
    <h1 class="font-heading text-4xl text-white/90">
      A letter to 37signals
    </h1>
    <p class="text-lg text-white/50">
      A personal story, written and deployed by Ruslan Komjakov for the Web App Designer role at 37signals.
    </p>
  </div>
  <p class="w-full max-w-4xl mx-auto font-serif text-2xl leading-relaxed text-white/70">
   This cover letter can be read in two ways: a <a href="#story" class="underline text-white/90">personal story</a> and <a href="#story" class="underline text-white/85">cheatsheet mode</a> outlining a side-by-side comparison of 37signals’ job posting and the author’s motivation and experience. Feel free to start with either one and the author humbly hopes you'll be intrigued to explore both.
  </p>
  <div class="w-full max-w-4xl mx-auto">
    <div class="h-[3px] w-10 bg-white/70"></div>
  </div>
</header>