<section id="cheatsheet" class="relative grid gap-16 px-6 py-24">
  <div class="grid w-full max-w-4xl gap-2 mx-auto">
    <h2 class="text-3xl font-heading text-spacegray-900">
      Cheatsheet mode
    </h2>
    <p class="text-lg text-spacegray-300/80">
      A side-by-side breakdown of 37signals’ job posting and how the author aligns with it.
    </p>
  </div>
  <dl class="w-full max-w-4xl mx-auto space-y-12">
    <div class="grid grid-cols-2 gap-x-16 mb-6">
      <dt class="py-4 text-2xl border-b border-gray-300 font-heading">
        Signal
      </dt>
      <dd class="py-4 text-2xl border-b border-gray-300 font-heading">
        Response
      </dd>
    </div>
    <div class="grid grid-cols-2 gap-x-16">
      <dt class="flex gap-4">
        <img class="w-6 h-6" src="icons/quote-icon.png" alt="quotation mark icon">
        <p class="font-sans font-semibold leading-relaxed text-spacegray-900">
          37 Signals is hiring a Web App Product Designer. We don't hire for this position often, so this is a rare opportunity.
        </p>
      </dt>
      <dd>
        <p class="text-lg font-light leading-relaxed font-serif text-spacegray">
          My response.
        </p>
      </dd>
    </div>
    <div class="grid grid-cols-2 gap-x-16">
      <dt class="flex gap-4">
        <img class="w-6 h-6" src="icons/quote-icon.png" alt="quotation mark icon">
        <p class="font-sans font-semibold leading-relaxed text-spacegray-900">
          We're looking for a designer, not a decorator. A product builder, not a picture maker. A shipper, not a prototyper. At many companies, product design is split into different roles: UX, UI, front-end development, copywriter, etc. At 37signals, it’s all one role. This means our designers are exceptional generalists.
        </p>
      </dt>
      <dd>
        <p class="text-lg font-light leading-relaxed font-serif text-spacegray">
          My response.
        </p>
      </dd>
    </div>
    <div class="grid grid-cols-2 gap-x-16">
      <dt class="flex gap-4">
        <img class="w-6 h-6" src="icons/quote-icon.png" alt="quotation mark icon">
        <p class="font-sans font-semibold leading-relaxed text-spacegray-900">
          Along with having great visual taste and sensibilities, you must be able to write your own production-quality front-end HTML, CSS, and English.
        </p>
      </dt>
      <dd>
        <p class="text-lg font-light leading-relaxed font-serif text-spacegray">
          My response.
        </p>
      </dd>
    </div>
  </dl>
  <div class="w-full max-w-4xl mx-auto mt-8">
    <div class="w-10 h-[3px] bg-spacegray-300"></div>
  </div>
  <nav class="w-full max-w-4xl mx-auto mt-4 text-spacegray-300 underline">
    <ul class="flex gap-4 ml-auto mr-0">
      <li>
        <a class="hover:text-spacegray-700" href="#story">Go to Story</a>
      </li>
      <li>
        <a class="hover:text-spacegray-700" href="#hero">Back to top</a>
      </li>
    </ul>
  </nav>
</section>